.In-number {
  position: relative;
  width: 469px;
  height: 385px;
  background: #b1b1b1;
  border-radius: 24px;
  margin-left: 17%;
}
.Number-grant {
  position: absolute;
  width: 279px;
  height: 48px;
  left: 95px;
  top: 48px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #535261;
}
.Number-ber {
  position: absolute;
  width: 236px;
  height: 60px;
  left: 117px;
  top: 120px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  color: #ff7506;
}
.Examination {
  position: absolute;
  width: 321px;
  height: 27px;
  left: 90px;
  top: 204px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #282739;
}
.In-number1 {
  position: absolute;
  width: 469px;
  height: 110px;
  left: 0px;
  top: 275px;
  background: #ff9138;
  margin-left: 17%;
}
.Time-number {
  margin-top: 5%;
  margin-left: 12%;
  font-size: 22px;
  color: #ffffff;
}
.Time-number1 {
  margin-top: 5%;
  margin-left: 12%;
  font-size: 22px;
  color: #ffffff;
}
.fix {
  margin-left: 90%;
}
.addnewnumber {
  background-color: $white;
  padding: 1.6rem 2.4rem 33%;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(232, 239, 244, 0.8);
  border-radius: 1.6rem;
  &-container {
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heading {
        @include text(3.2rem);
        font-weight: 700;
        line-height: 4.8rem;
        margin-bottom: 0.4rem;
        color: $orange-500;
        text-transform: uppercase;
      }
      .sub-heading {
        @include heading(2rem);
        margin-bottom: 1.2rem;
        line-height: 3rem;
      }
      .dropdown {
        width: 40rem;
        position: relative;
        &-select {
          background-color: $white;
          padding: 1rem 1.2rem;
          font-size: 1.6rem;
          border-radius: 0.8rem;
          border: 0.15rem solid $gray-100;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .select {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $gray-300;
          }
          img {
            width: 100%;
            height: 100%;
            max-width: 1.2rem;
            max-height: 0.6rem;
            object-fit: cover;
          }
        }
        &-list {
          border-radius: 0.4rem;
          background-color: $white;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s linear, visibility 0.2s linear;
          transform: translateY(10px);

          &:before {
            content: "";
            width: 100%;
            height: 1rem;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
          }
        }
      }
      .dropdown:hover .dropdown-list {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
      .dropdown-list__item {
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-weight: 400;
        color: $gray-400;
        cursor: pointer;
      }
      .function {
        display: flex;
        justify-content: center;
        gap: 3.2rem;
        margin-top: 12rem;
        .btn,
        .btn-cancel {
          width: 11.5rem;
        }
        .btn-cancel {
          background-color: $orange-50;
        }
      }
    }
  }
}
