html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: $orange-400;
    border-radius: 5rem;
  }
}

.app {
  position: relative;
  width: 1440px;
  height: 810px;

  /* BG */

  background: #f7f7f7;
  border-radius: 16px;
}

.wrapper {
  height: 60rem;
}

input {
  position: relative;
  padding: 1rem;
  width: 40rem;
  height: 4.4rem;
  background: #ffffff;
  border: 0.15rem solid #d4d4d7;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  color: $gray-400;
  font-family: $font-family;

}
.input-login{
  position: relative;
  padding: 1rem;
  width: 40rem;
  height: 4.4rem;
  background: #ffffff;
  border: 0.15rem solid #d4d4d7;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  color: $gray-400;
  font-family: $font-family;
  margin-left: -20%;
}
.input-resetpassword{
  position: relative;
  padding: 1rem;
  width: 40rem;
  height: 4.4rem;
  background: #ffffff;
  border: 0.15rem solid #d4d4d7;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  color: $gray-400;
  font-family: $font-family;
  margin-left: -20%;
}

.btn {
  padding: 1rem 2.4rem;
  width: 12rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 45%;
  background: #ffffff;
  border: 1px solid #FF993C;
border-radius: 6px;
}
.ticket-filter {
  width: 61px;
  height: 26px;
  align-items: center;
  color: #ff993c;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 23%;
}
.loc{
  margin-top: -21%;
  margin-left: -21%;
}

.btn-1{
  width: 12rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 79%;
  background: #ffffff;
  border: 1px solid #FF993C;
  border-radius: 6px;
  margin-top: -3.8%;
}
.export-file{
  width: 61px;
  height: 26px;
  align-items: center;
  color: #ff993c;
  flex: none;
  order: 1;
  flex-grow: 0;

}
.btn-cancel {
  width: 16.2rem;
  height: 4rem;
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $orange-400;
  background-color: $white;
  border: 0.1rem solid $orange-400;
  border-radius: 0.8rem;
  filter: drop-shadow(0 0 0.6rem #e7e9f2);
  cursor: pointer;

}
.btn-cancel-1{
  width: 16.2rem;
  height: 4rem;
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $orange-400;
  background-color: $white;
  border: 0.1rem solid $orange-400;
  border-radius: 0.8rem;
  filter: drop-shadow(0 0 0.6rem #e7e9f2);
  cursor: pointer;
  margin-left: -40%;
}

.main-wrap {
  width: 85.4%;
  max-width: 124rem;
  background-color:  #FFFFFF;
  margin-top: 4%;
  padding: 2.9rem 6.5rem 2.9rem 2.4rem;
  .main-wrap-small {
    display: flex;
    justify-content: space-between;
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}
.devicemain-container-table {
  width: 1128px;
}
.devicemain-container-function {
  left: 85%;
}
.headerdashboard-content {
  margin-left: -70%;
}
.imguser1 {
  margin-left: 20%;
}
