.overview {
  position: absolute;
  width: 401px;
  height: 810px;
  left: 980px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
  border-radius: 8px 0px 0px 8px;
  .imgnotify {
    margin-left: 300px;
  }
  .drw {
    width: 30rem;
    position: relative;
    &-select {
      background-color: $white;
      padding: 1rem 1.2rem;
      font-size: 1.6rem;
      border-radius: 0.8rem;
      border: 0.15rem solid $gray-100;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .select {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $gray-300;
      }
      img {
        width: 100%;
        height: 100%;
        max-width: 1.2rem;
        max-height: 0.6rem;
        object-fit: cover;
      }
    }
    &-list {
      border-radius: 0.4rem;
      background-color: $white;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s linear, visibility 0.2s linear;
      transform: translateY(10px);

      &:before {
        content: "";
        width: 100%;
        height: 1rem;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
      }
    }
  }
  .Notify {
    position: absolute;
    width: 360px;
    height: 48px;
    left: 0px;
    top: 0px;
    background: #ff9138;
  }
  .Notify-1 {
    position: absolute;
    width: 101px;
    height: 30px;
    left: 24px;
    top: 9px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  .Notify-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 360px;
    height: 400px;
    left: 0px;
    top: 48px;
    background: #ffffff;
  }
  .Line {
    margin-top: 20%;
    margin-left: 5%;
  }
  .Line-1 {
    margin-left: 5%;
  }
  .user-name-1 {
    width: 268px;
    height: 24px;
    margin-left: 24px;
    top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #bf5805;
  }
  .time-number-1 {
    width: 313px;
    height: 24px;
    margin-left: 24px;
    top: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #535261;
  }
  .time-number {
    position: absolute;
    width: 313px;
    height: 24px;
    left: 24px;
    top: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #535261;
  }
  .user-name {
    position: absolute;
    width: 268px;
    height: 24px;
    left: 24px;
    top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #bf5805;
  }

  .title {
    @include text(2.4rem);
    font-weight: 700;
    line-height: 3.6rem;
    color: $orange-500;
    margin-bottom: 1.6rem;
    margin-left: -2%;
  }
  &-container {
    padding: 1.6rem 2.4rem 3rem;
    background-color: $white;
    box-shadow: 0 0.4rem 0.6rem rgba(219, 219, 219, 0.5);
    border-radius: 0.8rem 0 0 0.8rem;
    &-main {
      display: flex;
      box-shadow: 0.2rem 0.2rem 1.5rem rgba(70, 64, 67, 0.1);
      border-radius: 1.2rem;
      margin-bottom: 1.2rem;
      &-box {
        display: flex;
        padding: 1.2rem 1.6rem;
        &.column {
          display: flex;
          flex-direction: column;
        }
        .image {
          .imgpercent {
            width: 100%;
            height: 100%;
            max-width: 6rem;
            max-height: 6rem;
            object-fit: cover;
            margin-right: 1.2rem;
          }
        }
        .parameter {
          h3 {
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 3.6rem;
            color: $gray-400;
          }
          div {
            display: flex;
            align-items: center;
            img {
              width: 100%;
              height: 100%;
              max-width: 1.4rem;
              max-height: 1.4rem;
              object-fit: cover;
              margin-right: 0.4rem;
            }
            span {
              font-size: 1.4rem;
              line-height: 2.1rem;
              font-weight: 600;
              color: $orange-500;
              &.blue {
                color: $blue;
              }
              &.green {
                color: $green;
              }
            }
          }
        }
        li {
          p {
            display: inline-block;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 2.1rem;
            color: $gray-300;
          }
          span {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.8rem;
            color: $orange-500;
            &.blue {
              color: $blue;
            }
            &.green {
              color: $green;
            }
          }
          &.yello {
            color: $orange-500;
          }
          &.blue {
            color: $blue;
          }
          &.green {
            color: $green;
          }
          &.pink {
            color: $pink-light;
          }
        }
      }
    }
    &-datepicker {
      .sdp {
        width: 100%;
      }
      .sdp--month-name {
        color: $orange-500;
      }
      p {
        color: $orange-500;
      }

      .sdp--text {
        font-size: 1.6rem;
        line-height: 0.8rem;
        font-weight: 700;
      }
      .sdp--month-picker {
        padding: 0 1.6rem 1.6rem 1.6rem;
        border-bottom: 0.1rem solid $blue-100;
      }
      .sdp--square-btn__shadowed,
      .sdp--square-btn__shadowed:focus:hover {
        box-shadow: none;
      }
      svg {
        display: block;
        max-width: 100%;
        color: $orange-500;
      }
      .sdp--dates-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        margin: 0.5rem 0 0;
      }
      .sdp--square-btn {
        align-items: center;
        background-color: #fff;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        height: 3rem;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        width: 3rem;
      }
      .sdp--date-btn__selected {
        background-color: $orange-500;
        box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px,
          rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        color: $white;
      }
    }
  }
}
