.ellipse {
    margin-top: 8.3rem;
    &-chart {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 10rem;
      &-box {
        position: relative;
        align-items: center;
        .date {
          display: flex;
          align-items: center;
          gap: 1.4rem;
          padding: 0.9rem 1.2rem;
          border: 0.1rem solid #e6e0e0;
          cursor: pointer;
          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $text;
            &:last-child {
  
            }
          }
        }
        .date-select {
          position: absolute;
          top: 26%;
          left: 0;
          float: right;
          width: 215%;
          flex-direction: column;
          background-color: #fff;
          padding: 2.4rem 3.2rem;
          box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
          border-radius: 20px;
          z-index: 1;
          .date-moment {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            margin-bottom: 1.95rem;
            h4 {
              margin: 0;
            }
          }
          .sdp {
            width: 100%;
          }
          .sdp--dates-grid {
            gap: 1.5rem;
          }
          .sdp--date-btn__selected {
      
          }
          .sdp--date-btn__selected {
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            border-radius: 50%;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2.5rem;
          p {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $text;
          }
        }
        .note {
          width: 44px;
          height: 20px;
          background: #4f75ff;
          border-radius: 4px;
        }
        .yellow {
          background: #ff8a48;
        }
      }
    }
  }
  