.day-name {
  position: absolute;
  width: 66px;
  height: 26px;
  margin-top: -30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #1e0d03;

  opacity: 0.7;
}
.day-name-1 {
  width: 74px;
  height: 26px;
  margin-top: 9%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #1e0d03;
  opacity: 0.7;
  margin-left: 58%;
}
.date-day-1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  position: absolute;
  width: 143px;
  height: 40px;
  left: 256px;
  top: 80px;
  border: 1px solid #a5a8b1;
  border-radius: 8px;
}
.date-day {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  gap: 10px;
  position: absolute;
  width: 143px;
  height: 40px;
  left: 32px;
  top: 80px;
  border: 1px solid #a5a8b1;
  border-radius: 8px;
}
.name-ticket {
  position: absolute;
  width: 81px;
  height: 30px;
  left: 200px;
  top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #1e0d03;
}
.filter {
  position: relative;
  width: 469px;
  height: 385px;
  background: #b1b1b1;
  border-radius: 24px;
  margin-left: 17%;
}
.statust {
  position: relative;
  width: 159px;
  height: 26px;
  left: 32px;
  top: 46px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #1e0d03;
  opacity: 0.8;
}
.name-all {
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: 8%;
  margin-left: 7%;
}
.name-all-1 {
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: -7%;
  margin-left: 25%;
}
.name-all-2 {
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: -7%;
  margin-left: 51%;
}
.name-all-3 {
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: -7%;
  margin-left: 80%;
}
.all {
  width: 44px;
  height: 24px;
  margin-left: 12%;
  margin-top: 12%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.all-1 {
  width: 100px;

  height: 24px;
  margin-left: 31%;
  margin-top: -5%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.all-2 {
  width: 100px;

  height: 24px;
  margin-left: 57%;
  margin-top: -5%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.all-3 {
  width: 100px;

  height: 24px;
  margin-left: 85%;
  margin-top: -5%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.check{
  position: absolute;
  width: 131px;
  height: 26px;
  left: 32px;
  top: 205px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #1E0D03;
  opacity: 0.8;
}
.check-all{
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: -2%;
  margin-left: 7%;
}
.check-all-1{
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: 2%;
  margin-left: 7%;
}
.check-all-2{
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: -16%;
  margin-left: 42%;
}
.check-all-3{
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: 2%;
  margin-left: 42%;
}
.check-all-4{
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: -17%;
  margin-left: 71%;
}
.check-all-5{
  position: absolute;
  width: 20px;
  background: #4277ff;
  margin-top: 3%;
  margin-left: 71%;
}
.check-name{
  width: 100px;
  height: 24px;
  margin-left: 13%;
  margin-top: 5%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.check-name-1{
  width: 100px;
  height: 24px;
  margin-left: 13%;
  margin-top: 4.3%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.check-name-2{
  width: 100px;
  height: 24px;
  margin-left: 48%;
  margin-top: -13.7%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.check-name-3{
  width: 100px;
  height: 24px;
  margin-left: 48%;
  margin-top: 4.3%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.check-name-4{
  width: 100px;
  height: 24px;
  margin-left: 77%;
  margin-top: -14.7%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.check-name-5{
  width: 100px;
  height: 24px;
  margin-left: 77%;
  margin-top: 5.3%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.name-filter{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;
  position: absolute;
  width: 160px;
  height: 48px;
  left: 144px;
  bottom: 9px;
  border: 1px solid #FF993C;
  border-radius: 8px;
  background: #fafafa;
}
.name-filter-1{
  width: 34px;
  height: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #FF993C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.devicemain {
  width: 1121px;
  height: 963px;
  left: 4px;
  top: 10px;
  background: #ffffff;
  border-radius: 24px;
  .devicemain-container-box {
    margin-left: 2%;
  }
  position: relative;
  &-container {
    .title {
      @include text(2.4rem);

      margin-top: -2%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      margin-left: 2%;
      /* or 150% */

      display: flex;
      align-items: center;

      color: #000000;
    }
    &-box {
      &:nth-child(2) {
        margin: 0 22.5rem 0 2.4rem;
      }
      h3 {
        font-size: 1.6rem;
        color: $gray-500;
        line-height: 2.4rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
      }

      .dropdown {
        width: 30rem;
        position: relative;
        &-select {
          background-color: $white;
          padding: 1rem 1.2rem;
          font-size: 1.6rem;
          border-radius: 0.8rem;
          border: 0.15rem solid $gray-100;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .select {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $gray-300;
          }
          img {
            width: 100%;
            height: 100%;
            max-width: 1.2rem;
            max-height: 0.6rem;
            object-fit: cover;
          }
        }
        &-list {
          border-radius: 0.4rem;
          background-color: $white;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s linear, visibility 0.2s linear;
          transform: translateY(10px);

          &:before {
            content: "";
            width: 100%;
            height: 1rem;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
          }
        }
      }
      .dropdown:hover .dropdown-list {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
      .dropdown-list__item {
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-weight: 400;
        color: $gray-400;
        cursor: pointer;
      }

      .search {
        position: relative;
        input {
          position: inherit;
          padding: 0 1.2rem;
          width: 26rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.2rem;
        }
        span {
          position: absolute;
          top: 1.2rem;
          right: 1.2rem;
          font-size: 2rem;
          color: $orange-500;
          cursor: pointer;
        }
      }
    }
    &-table {
      position: relative;
      margin-top: 1.6rem;
      filter: drop-shadow(0.2rem 0.2rem 0.8rem rgba(232, 239, 244, 0.8));
      table {
        width: 100%;
        table-layout: fixed;
      }
      ::-webkit-scrollbar {
        width: 6px;
      }

      thead,
      tbody {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.active {
          background: #f7f8fb;
        }
        tr {
          width: 100%;
          &:first-child {
            padding-left: 1.5rem;
          }
          &:last-child {
            padding-right: 1.5rem;
          }
          &.col1 {
            width: 23rem;
          }
          &.col2 {
            width: 23rem;
          }
          &.col3 {
            width: 30rem;
          }
          &.col4 {
            width: 50rem;
          }
          &.col5 {
            width: 30rem;
          }
          &.col6 {
            width: 23rem;
          }
          &.col7 {
            width: 23rem;
          }
          &.col8 {
            width: 23rem;
          }
        }
      }
      .name-col {
        color: #1e0d03;
      }
      .tbl-header {
        background-color: #f1f4f8;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        tr {
          border-right: 0.1rem solid $orange-50;
        }
      }
      .tbl-content {
        height: 49rem;
        overflow-x: auto;
        margin-top: 0;
        // border: 1px solid $white;
        background-color: $white;
        tbody {
          tr {
            border-right: 0.1rem solid $orange-50;
            td {
              .red {
                color: #919dba;
                font-size: 2rem;
                box-sizing: border-box;
                background: #eaf1f8;
                border: 1px solid #919dba;
                border-radius: 4px;
                span {
                  font-size: 1.4rem;
                  color: $gray-400;
                  font-weight: 400;
                  line-height: 2.1rem;
                  color: #919DBA;

                }
              }
              .green {
                color: #919dba;
                font-size: 2rem;
                box-sizing: border-box;
                background: #eaf1f8;
                border: 1px solid #919dba;
                border-radius: 4px;
                span {
                  font-size: 1.4rem;
                  color: $gray-400;
                  font-weight: 400;
                  line-height: 2.1rem;
                  color: #919DBA;

                }
              }
            }
          }
        }
      }
      th {
        height: 5rem;
        font-size: 1.6rem;
        color: $white;
        text-align: left;
        font-weight: 700;
        line-height: 2.4rem;
      }
      td {
        padding: 1.4rem 0;
        font-size: 1.4rem;
        color: $gray-400;
        text-align: left;
        font-weight: 400;
        line-height: 2.1rem;
        border-bottom: solid 0.1rem rgba(255, 255, 255, 0.1);
        a {
          display: block;
          font-size: 1.4rem;
          color: $blue;
          font-weight: 400;
          line-height: 2.1rem;
          text-decoration: underline;
        }
      }
    }
    &-function {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      content: "";
      top: 21%;
      right: -5.7%;
      .btn-add {
        width: 100%;
        max-width: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 0.8rem;
        gap: 0.4rem;
        font-weight: 600;
        line-height: 1.9rem;
        text-align: center;
        color: #ff7506;
        background: #fff2e7;
        box-shadow: 0 0 0.6rem #e7e9f2;
        border-radius: 0.8rem 0 0 0.8rem;
        border: none;
        cursor: pointer;
        svg {
          font-size: 2.5rem;
          margin-bottom: 0;
          color: $orange-500;
        }
      }
    }
    &-pagination {
      margin-top: 2.4rem;
      float: right;
      margin-right: 35%;
      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 12px;
        text-align: center;
        border: none;
        border-radius: 2px;
        outline: none;
        transition: all 0.3s;
      }

      .ant-pagination-item-active {
        font-weight: 500;
        background: $orange-500;
        border: none;
        border-radius: 4px;
        a {
          color: $white;
        }
      }
      .ant-pagination-item {
        border: none;
      }
      .ant-pagination-options {
        display: none;
      }
      .ant-pagination-item a:hover {
        text-decoration: none;
        color: $orange-500;
        background-color: $white;
      }
    }
  }
}
